version: 2
updates:
  - package-ecosystem: maven
    directory: "/"
    schedule:
      interval: "yearly"

  - package-ecosystem: gradle
    directory: "/email-header-reader-project/email-header-reader-service"
    schedule:
      interval: "yearly"
    groups:
      kotlin:
        patterns:
          - "org.jetbrains.kotlin.*"
          - "com.google.devtools.ksp"
          - "kotlin*"
          - "*kotlin*"

  - package-ecosystem: npm
    directory: "/email-header-reader-project/email-header-reader-frontend"
    schedule:
      interval: "yearly"
    groups:
      angular:
        patterns:
          - "@angular*"
          - "angular*"
          - "*angular*"
          - "@types*"
          - "*types*"
          - "*ngx-cookie-service*"
